#set ($isTextTeaser = ($teaser.type == 'standard' || $teaser.type == 'imagebg'))
#if ($teaser.href && $isTextTeaser)
<a href="$!{teaser.href}" class="teaser $!{teaser.clsNameModifier}" style="$!{teaser.styleAttr}" data-layout-color="$!{rowFullBackgroundColor}">
    #else
    <div class="teaser $!{teaser.clsNameModifier}" style="$!{teaser.styleAttr}" data-layout-color="$!{rowFullBackgroundColor}">
        #end

        #if ($teaser.type == 'video' && $teaser.videoUrl)
        <video src="$!{teaser.videoUrl}"
               class="teaser__video"
               style="$!{teaser.imgStyleAttr}"
               controls="false"
               preload="auto"
               playsinline#if ($teaser.imageUrl)
               poster="$!{teaser.imageUrl}"#end></video>
        #end

        #if ($teaser.type == 'youtube' && $teaser.videoId)
        <div class="youtube__videoWrapper"
             style="$!{teaser.imgStyleAttr}">
            <iframe src="https://www.youtube.com/embed/$!{teaser.videoId}"
                    class="youtube__video"
                    style="$!{teaser.imgStyleAttr}"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
        </div>
        #end

        #if ($teaser.type == 'brightcove' && $teaser.videoId)
        <div class="teaser__bcVideo" style="$!{teaser.imgStyleAttr}">
            <video id="$teaser.videoId"
                   class="video-js bc-video teaser__bcVideo__video"
                   style="$!{teaser.imgStyleAttr}"
                   data-account="745456160001"
                   data-video-id="$teaser.videoId"
                   data-player="$teaser.bcPlayerId"
                   data-embed="default"
                   class="video-js bc-video" controls>
            </video>
        </div>
        <script src="//players.brightcove.net/745456160001/$!{teaser.bcPlayerId}_default/index.min.js"></script>
        #end

        #if ($teaser.type == 'standard' && $teaser.imageUrl)
        <div class="teaser__img" style="background-image: url('$teaser.imageUrl'); $!{teaser.imgStyleAttr};"></div>
        #end

        #if ($teaser.href && !$isTextTeaser)
        <a href="$!{teaser.href}" class="teaser__videoLnk">
            #end

            #if ($teaser.headingText)
            <div class="teaser__heading">
                $teaser.headingText
            </div>
            #end

            #if ($teaser.bodyText)
            <div class="teaser__body">
                $teaser.bodyText
            </div>
            #end

            #if ($teaser.href && !$isTextTeaser)
        </a>
        #end

        #if (!$teaser.href || !$isTextTeaser)
    </div>
    #else
</a>
#end

